---
layout: default
---
  <div id="welcome-page" class="uk-height-viewport uk-flex uk-flex-center uk-inline uk-flex-middle uk-background-cover uk-light animated fadeIn delay-1s fast" uk-parallax="bgy: -250;" data-src="assets/images/hero-donations.jpg" uk-img>
    <div class="uk-container uk-text-center uk-width-2-3@m">
      <div class="animated fadeInUp delay-2s fast">
        <h2>{% t donations.title %}</h2>
      </div>
    </div>
  </div>

<div class="uk-section bg-white animated fadeIn delay-3s fast">
  <!-- Desktop -->
  <div class="uk-container uk-width-1-1 uk-width-2-3@m uk-text-center" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div class="uk-width-1-1">
        <h2 class="pd-top-120">{% t donations.intro.title %}</h2>
        <p>{% t donations.intro.description %}</p>
        <a href="" class="uk-button button-brand-line" target="_blank">{% t donations.intro.action %}</a>
    </div>
  </div>
  <!-- End desktop -->
</div>


<div class="uk-section bg-white animated fadeIn">
  <!-- Desktop -->
  <div class="uk-container uk-width-1-1 uk-width-2-3@m" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div class="uk-width-1-1">
      <table class="uk-table uk-table-small uk-table-divider">
        <thead>
            <tr>
                <th>Table Heading</th>
                <th>Table Heading</th>
                <th>Table Heading</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Table Data</td>
                <td>Table Data</td>
                <td>Table Data</td>
            </tr>
            <tr>
                <td>Table Data</td>
                <td>Table Data</td>
                <td>Table Data</td>
            </tr>
            <tr>
                <td>Table Data</td>
                <td>Table Data</td>
                <td>Table Data</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- End desktop -->
</div>
