---
layout: default
---
<div id="welcome-page" class="uk-height-viewport uk-flex uk-flex-center uk-inline uk-flex-middle uk-background-cover uk-light animated fadeIn delay-1s fast" uk-parallax="bgy: -250;" data-src="assets/images/hero-project.jpg" alt="{% t project.img %}" title="{% t project.title %}" uk-img>
  <div class="uk-container uk-text-center uk-width-2-3@m">
    <div class="animated fadeInUp delay-2s fast">
      <h2>{% t project.title %}</h2>
    </div>
  </div>
</div>

<div class="uk-section bg-white animated fadeIn delay-3s fast">
  <!-- Desktop -->
  <div class="uk-container uk-width-1-1 uk-width-2-3@m uk-text-center" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div class="uk-width-1-1">
        <h2 class="pd-top-120">{% t project.about.title %}</h2>
        <p>{% t project.about.description_1 %}</p>
        <p>{% t project.about.description_2 %}</p>
    </div>
  </div>
  <!-- End desktop -->
</div>

<div class="uk-section bg-pink animated fadeIn delay-3s fast">
  <!-- Desktop -->
  <div class="uk-container uk-width-1-1 uk-width-2-3@m uk-text-center" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div class="uk-width-1-1 uk-visible@m">
        <h2 class="pd-top-120">{% t project.project.title %}</h2>
        <p>{% t project.project.description_1 %}</p>
        <p>{% t project.project.description_2 %}</p>
        <img data-src="assets/images/info-project-desktop.jpg" alt="{% t project.project.img %}" title="{% t project.project.title %}" uk-img>
    </div>
    <!-- End desktop -->
    <div class="uk-width-1-1 uk-hidden@m">
        <h2 class="pd-top-120">{% t project.project.title %}</h2>
        <p>{% t project.project.description_1 %}</p>
        <p>{% t project.project.description_2 %}</p>
        <img data-src="assets/images/info-project-mobile.jpg" alt="{% t project.project.img %}" title="{% t project.project.title %}" uk-img>
    </div>
  </div>
</div>

<div class="uk-section bg-white animated fadeIn">
  <!-- Desktop -->
  <div class="uk-container uk-width-3-4@m uk-text-center" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <h2 class="pd-top-120">{% t project.team.title %}</h2>
    <div class="uk-child-width-1-2 uk-child-width-1-3@m uk-grid-small uk-text-center" uk-grid>
        <div class="team">
          <h4>{% t project.team.person_1 %}</h4>
          <p>{% t project.team.position_1 %}</p>
        </div>
        <div class="team">
          <h4>{% t project.team.person_2 %}</h4>
          <p>{% t project.team.position_2 %}</p>
        </div>
        <div class="team">
          <h4>{% t project.team.person_3 %}</h4>
          <p>{% t project.team.position_3 %}</p>
        </div>
        <div class="team">
          <h4>{% t project.team.person_4 %}</h4>
          <p>{% t project.team.position_4 %}</p>
        </div>
        <div class="team">
          <h4>{% t project.team.person_5 %}</h4>
          <p>{% t project.team.position_5 %}</p>
        </div>
        <div class="team">
          <h4>{% t project.team.person_6 %}</h4>
          <p>{% t project.team.position_6 %}</p>
        </div>
        <div class="team">
          <h4>{% t project.team.person_7 %}</h4>
          <p>{% t project.team.position_7 %}</p>
        </div>
        <div class="team">
          <h4>{% t project.team.person_8 %}</h4>
          <p>{% t project.team.position_8 %}</p>
        </div>
        <div class="team">
          <h4>{% t project.team.person_9 %}</h4>
          <p>{% t project.team.position_9 %}</p>
        </div>
        <div class="team">
          <h4>{% t project.team.person_10 %}</h4>
          <p>{% t project.team.position_10 %}</p>
        </div>
        <div class="team">
          <h4>{% t project.team.person_11 %}</h4>
          <p>{% t project.team.position_11 %}</p>
        </div>
    </div>
  </div>
  <div class="uk-container uk-width-3-4@m uk-text-center" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <h2 class="pd-top-120">{% t project.network.title %}</h2>
    <div class="uk-child-width-1-2 uk-child-width-1-3@m uk-grid-small uk-text-center" uk-grid>
        <div class="team">
          <h4>{% t project.network.person_1 %}</h4>
          <p>{% t project.network.position_1 %}</p>
        </div>
        <div class="team">
          <h4>{% t project.network.person_2 %}</h4>
          <p>{% t project.network.position_2 %}</p>
        </div>
        <div class="team">
          <h4>{% t project.network.person_3 %}</h4>
          <p>{% t project.network.position_3 %}</p>
        </div>
        <div class="team">
          <h4>{% t project.team.person_4 %}</h4>
          <p>{% t project.team.position_4 %}</p>
        </div>
        <div class="team">
          <h4>{% t project.network.person_5 %}</h4>
          <p>{% t project.network.position_5 %}</p>
        </div>
        <div class="team">
          <h4>{% t project.network.person_6 %}</h4>
          <p>{% t project.network.position_6 %}</p>
        </div>
        <div class="team">
          <h4>{% t project.network.person_7 %}</h4>
          <p>{% t project.network.position_7 %}</p>
        </div>
        <div class="team">
          <h4>{% t project.network.person_8 %}</h4>
          <p>{% t project.network.position_8 %}</p>
        </div>
        <div class="team">
          <h4>{% t project.network.person_9 %}</h4>
          <p>{% t project.network.position_9 %}</p>
        </div>
        <div class="team">
          <h4>{% t project.network.person_10 %}</h4>
          <p>{% t project.network.position_10 %}</p>
        </div>
    </div>
  </div>
  <!-- End desktop -->
</div>
