---
layout: default
---
<div id="welcome-page" class="uk-height-viewport uk-flex uk-flex-center uk-inline uk-flex-middle uk-background-cover uk-light animated fadeIn delay-1s fast" uk-parallax="bgy: -350;" data-src="assets/images/hero-desktop.jpg" uk-img>
  <div class="uk-container uk-text-center uk-width-2-3@m">
    <div class="animated fadeInUp delay-2s fast">
      <h2>{% t teams.title %}</h2>
    </div>
  </div>
</div>

<div class="uk-section bg-white animated fadeIn delay-3s fast">
  <!-- Desktop -->
  <div class="uk-container uk-width-1-1 uk-width-2-3@m uk-text-center" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div class="uk-width-1-1">
        <h2 class="pd-top-120">{% t teams.intro.title %}</h2>
        <p>{% t teams.intro.description %}</p>
        <p>{% t teams.intro.filter %}</p>
    </div>
    <div class="uk-width-1-1">
      <div uk-filter="target: .js-filter">

          <ul class="uk-subnav uk-subnav-pill">
              <li class="uk-active" uk-filter-control><a href="#">All</a></li>
              <li uk-filter-control="[data-color='white']"><a href="#">White</a></li>
              <li uk-filter-control="[data-color='blue']"><a href="#">Blue</a></li>
              <li uk-filter-control="[data-color='black']"><a href="#">Black</a></li>
          </ul>

          <ul class="js-filter uk-child-width-1-2 uk-child-width-1-3@m uk-text-center" uk-grid>
              <li data-color="white">
                  <div class="uk-card uk-card-default uk-card-body">Item</div>
              </li>
              <li data-color="blue">
                  <div class="uk-card uk-card-primary uk-card-body">Item</div>
              </li>
              <li data-color="white">
                  <div class="uk-card uk-card-default uk-card-body">Item</div>
              </li>
              <li data-color="white">
                  <div class="uk-card uk-card-default uk-card-body">Item</div>
              </li>
              <li data-color="black">
                  <div class="uk-card uk-card-secondary uk-card-body">Item</div>
              </li>
              <li data-color="black">
                  <div class="uk-card uk-card-secondary uk-card-body">Item</div>
              </li>
              <li data-color="blue">
                  <div class="uk-card uk-card-primary uk-card-body">Item</div>
              </li>
              <li data-color="black">
                  <div class="uk-card uk-card-secondary uk-card-body">Item</div>
              </li>
              <li data-color="blue">
                  <div class="uk-card uk-card-primary uk-card-body">Item</div>
              </li>
              <li data-color="white">
                  <div class="uk-card uk-card-default uk-card-body">Item</div>
              </li>
              <li data-color="blue">
                  <div class="uk-card uk-card-primary uk-card-body">Item</div>
              </li>
              <li data-color="black">
                  <div class="uk-card uk-card-secondary uk-card-body">Item</div>
              </li>
          </ul>

      </div>
    </div>
  </div>
  <!-- End desktop -->
</div>
