---
layout: default
---
<div id="welcome-page" class="uk-height-viewport uk-flex uk-flex-center uk-inline uk-flex-middle uk-background-cover uk-light animated fadeIn delay-1s fast" uk-parallax="bgy: -250;" data-src="assets/images/hero-resources.jpg" alt="{% t resources.img %}" title="{% t resources.title %}" uk-img>
  <div class="uk-container uk-text-center uk-width-2-3@m">
    <div class="animated fadeInUp delay-2s fast">
      <h2>{% t resources.title %}</h2>
      <p class="uk-text-lead">{% t resources.lead %}</p>
    </div>
  </div>
</div>

<div class="uk-section bg-white animated fadeIn delay-3s fast">
  <!-- Desktop -->
  <div class="uk-container uk-width-1-1 uk-width-3-4@m pd-top-120" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div class="uk-flex uk-flex-center uk-flex-middle" uk-grid>
    <div class="uk-visible@m uk-width-2-3@m">
        <h2>{% t resources.intro.title %}</h2>
        <p>{% t resources.intro.description_1 %}</p>
        <p>{% t resources.intro.description_2 %}</p>
    </div>
    <div class="uk-visible@m uk-width-1-3@m">
      <div class="uk-card uk-card-default">
           <div class="uk-card-media-top">
               <img data-src="assets/images/icon-notebook.svg" alt="Imagen de una libreta dibujada a mano" uk-img>
           </div>
           <div class="uk-card-body">
               <h3 class="uk-card-title">{% t resources.intro.title_document_1 %}</h3>
               <a href="{{ site.baseurl }}/assets/cuadernillo-antp.pdf" target="_blank">{% t resources.intro.action %}<i class="uil uil-arrow-to-bottom"></i></a>
           </div>
       </div>
    </div>

    <div class="uk-hidden@m uk-width-1-1 uk-text-center">
        <h2 class="pd-top-120">{% t resources.intro.title %}</h2>
        <p>{% t resources.intro.description_1 %}</p>
        <p>{% t resources.intro.description_2 %}</p>
    </div>
    <div class="uk-hidden@m uk-width-1-1 uk-text-center">
      <div class="uk-card uk-card-default">
           <div class="uk-card-media-top">
               <img data-src="assets/images/icon-notebook.svg" alt="Imagen de una libreta dibujada a mano" uk-img>
           </div>
           <div class="uk-card-body">
               <h3 class="uk-card-title">{% t resources.intro.title_document_1 %}</h3>
               <a href="{{ site.baseurl }}/assets/cuadernillo-antp.pdf" target="_blank">{% t resources.intro.action %} <i class="uil uil-arrow-to-bottom"></i></a>
           </div>
       </div>
    </div>
  </div>
  </div>
  <!-- End desktop -->
</div>

<div class="uk-hidden uk-section bg-white animated fadeIn">
  <!-- Desktop -->
  <div class="uk-container uk-width-1-1 uk-width-2-3@m" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div class="uk-width-1-1">
      <ul uk-accordion>
          <li class="uk-open">
              <a class="uk-accordion-title" href="#">Item 1</a>
              <div class="uk-accordion-content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
          </li>
          <li>
              <a class="uk-accordion-title" href="#">Item 2</a>
              <div class="uk-accordion-content">
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor reprehenderit.</p>
              </div>
          </li>
          <li>
              <a class="uk-accordion-title" href="#">Item 3</a>
              <div class="uk-accordion-content">
                  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident.</p>
              </div>
          </li>
      </ul>
    </div>
  </div>
  <!-- End desktop -->
</div>

<div class="uk-section bg-pink animated fadeIn uk-hidden">
  <!-- Desktop -->
  <div class="uk-container uk-width-1-1 uk-width-2-3@m uk-text-center" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div class="uk-width-1-1">
      <div class="uk-width-1-1">
        <h2 class="pd-top-120">{% t resources.invite.title %}</h2>
        <p>{% t resources.invite.description %}</p>
        <a href="" class="uk-button button-white-line" target="_blank">{% t resources.invite.action %}</a>
      </div>
    </div>
  </div>
  <!-- End desktop -->
</div>
