<div class="uk-section bg-black animated fadeIn">
  <!-- Desktop -->
  <div class="uk-container uk-width-3-4@m" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div class="uk-flex uk-flex-center">
      <div class="uk-width-1-1 uk-text-center">
        <h2 class="pd-top-120"> {% t countdown.title %} </h2>
        <p class="txt-bigger-size mg-top-45"> {% t countdown.subtitle_1 %} </p>
        <div class="uk-grid-small uk-child-width-auto mg-top-45 mg-bot-45 uk-flex uk-flex-center" uk-grid uk-countdown="date: 2020-04-26T00:00:00+03:00">
          <div>
              <div class="uk-countdown-number uk-countdown-days"></div>
              <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s txt-bigger-size">{% t countdown.days %}</div>
          </div>
          <div class="uk-countdown-separator">:</div>
          <div>
              <div class="uk-countdown-number uk-countdown-hours"></div>
              <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s txt-bigger-size">{% t countdown.hours %}</div>
          </div>
          <div class="uk-countdown-separator">:</div>
          <div>
              <div class="uk-countdown-number uk-countdown-minutes"></div>
              <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s txt-bigger-size">{% t countdown.minutes %}</div>
          </div>
          <div class="uk-countdown-separator">:</div>
          <div>
              <div class="uk-countdown-number uk-countdown-seconds"></div>
              <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s txt-bigger-size">{% t countdown.seconds %}</div>
          </div>
        </div>
        <p class="txt-bigger-size"> {% t countdown.subtitle_2 %} </p>
      </div>
    </div>
  </div>
  <!-- End desktop -->
</div>
