<footer>
  <!--Desktop-->
    <div class="uk-container uk-visible@m">
      <div class="uk-flex uk-flex-center" uk-grid>
        <div class="uk-width-1-4 uk-text-center">
          <img data-src="assets/images/logo-prueba.svg" class="logo-footer" uk-img>
        </div>
        <div class="uk-width-1-4">
          <ul class="uk-list">
            <li><p style="font-size:1.3rem;line-height:1.5;">{% t footer.description %}</p></li>
          </ul>
        </div>
        <div class="uk-width-1-4">
          <ul class="uk-list">
            <li><p>{% t footer.contact %} <a href="mailto:{% t footer.mail %}">{% t footer.mail %}</a></p></li>
            <li style="font-size:1.2rem;">
              <a href="https://twitter.com/ahrnostoca" target="_blank"><i class="uil uil-twitter"></i></a>
              <a href="https://www.instagram.com/ahoranostocachile/" target="_blank"><i class="uil uil-instagram"></i></a>
              <a href="https://www.facebook.com/Ahora-nos-toca-100491311521863/" target="_blank"><i class="uil uil-facebook"></i></a>
            </li>
          </ul>
        </div>
        <div class="uk-width-1-4">
          <p class="font-small">{% t footer.disclaimer %}</p>
        </div>
      </div>
    </div>
    <!--end desktop-->

    <!--Mobile-->
    <div class="uk-container uk-hidden@m">
      <div class="uk-flex uk-flex-center uk-flex-middle" uk-grid>
        <div class="uk-width-1-2">
          <div>
            <img data-src="assets/images/logo-prueba.svg" class="logo-footer" uk-img>
          </div>
        </div>
        <div class="uk-width-1-2 uk-text-center">
          <ul class="uk-list">
            <p>{% t footer.description %}</p>
          </ul>
        </div>
      </div>
      <div class="uk-flex uk-flex-center uk-flex-middle" uk-grid>
        <div class="uk-width-1-1 uk-text-center">
          <div>
            <ul class="uk-list">
              <li><p>{% t footer.contact %} <a href="mailto:{% t footer.mail %}">{% t footer.mail %}</a></p></li>
              <li style="font-size:1.5rem;margin:20px 0 -20px">
                <a href="https://twitter.com/ahrnostoca" target="_blank"><i class="uil uil-twitter"></i></a>
                <a href="https://www.instagram.com/ahoranostocachile/" target="_blank"><i class="uil uil-instagram"></i></a>
                <a href="https://www.facebook.com/Ahora-nos-toca-100491311521863/" target="_blank"><i class="uil uil-facebook"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="uk-width-1-1 uk-text-center">
          <hr>
          <li><p class="font-small">{% t footer.disclaimer %}</p></li>
        </div>
      </div>
    </div>
    <!--end mobile-->

</footer>
