<div class="uk-section bg-pink animated fadeIn">
  <div class="uk-container uk-width-2-3@m uk-text-center" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div class="uk-flex uk-flex-center" uk-grid>
      <!-- Desktop -->
      <div class="uk-width-1-1 uk-visible@m">
        <h2 class="pd-top-120"> {% t home.project.title %} </h2>
        <p> {% t home.project.description %} </p>
        <img data-src="assets/images/info-project-desktop.jpg" alt="{% t project.project.img %}" title="{% t project.project.title %}" uk-img>
      </div>
      <!-- End desktop -->
      <!-- Mobile -->
      <div class="uk-width-1-1 uk-hidden@m">
        <h2 class="pd-top-120"> {% t home.project.title %} </h2>
        <p> {% t home.project.description %} </p>
        <img data-src="assets/images/info-project-mobile.jpg" alt="{% t project.project.img %}" title="{% t project.project.title %}" uk-img>
      </div>
      <!-- End mobile -->
    </div>
  </div>
</div>
