<div class="uk-visible@m bg-yellow uk-flex uk-flex-center uk-inline uk-flex-middle" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
  <!-- Desktop -->
  <div class="uk-width-1-2@m uk-background-cover" style="min-height:80vh" data-src="assets/images/home-report.jpg" alt="{% t home.report.img %}" title="{% t home.report.title %}" uk-img>
  </div>
  <div class="uk-width-1-2@m">
    <div class="uk-container">
      <h2>{% t home.report.title %}</h2>
      <p>{% t home.report.description_1 %}</p>
      <ul class="uk-list">
        <li class="compressed">{% t home.report.list_1 %}</li>
        <li class="compressed">{% t home.report.list_2 %}</li>
        <li class="compressed">{% t home.report.list_3 %}</li>
        <li class="compressed">{% t home.report.list_4 %}</li>
      </ul>
      <p>{% t home.report.description_2 %}</p>
      <a href="https://forms.gle/iwhSbxrzEMsQTWio9 " class="uk-button button-black-line" target="_blank"> {% t educators.report.action %} </a>
    </div>
  </div>
  <!-- End desktop -->
</div>


<div class="uk-section bg-yellow uk-hidden@m animated fadeIn">
  <!-- Desktop -->
  <div class="uk-container uk-width-1-1 uk-width-2-3@m" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
      <div class="uk-width-1-1 uk-text-center">
          <h2 class="pd-top-120">{% t home.report.title %}</h2>
      </div>
      <div class="uk-width-1-1">
          <p>{% t home.report.description_1 %}</p>
          <ul class="uk-list">
            <li class="compressed">{% t home.report.list_1 %}</li>
            <li class="compressed">{% t home.report.list_2 %}</li>
            <li class="compressed">{% t home.report.list_3 %}</li>
            <li class="compressed">{% t home.report.list_4 %}</li>
          </ul>
          <p>{% t home.report.description_2 %}</p>
      </div>
      <div class="uk-width-1-1 uk-text-center">
        <a href="https://forms.gle/iwhSbxrzEMsQTWio9 " class="uk-button button-black-line" target="_blank"> {% t educators.report.action %} </a>
      </div>
  </div>
  <!-- End desktop -->
</div>

<!-- End mobile -->
