<div class="uk-visible@m bg-blue uk-flex uk-flex-center uk-inline uk-flex-middle animated fadeIn" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div class="uk-width-1-2">
      <div class="uk-container">
        <h2>{% t home.resources.title %}</h2>
        <p>{% t home.resources.description %}</p>
        <a href="{{ site.baseurl }}/material-de-formacion.html" class="uk-button button-white-line"> {% t home.resources.action %}</a>
      </div>
    </div>
    <div class="uk-width-1-2 uk-background-cover" style="min-height:80vh" data-src="assets/images/home-resources.jpg" alt="{% t home.resources.img %}" title="{% t home.resources.img_title %}" uk-img>
    </div>
</div>
<!-- End desktop -->

<div class="uk-section bg-blue uk-hidden@m animated fadeIn">
  <!-- Desktop -->
  <div class="uk-container uk-width-1-1 uk-width-2-3@m uk-text-center" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
      <div class="uk-width-1-1">
        <h2 class="pd-top-120">{% t home.resources.title %}</h2>
        <p>{% t home.resources.description %}</p>
        <a href="{{ site.baseurl }}/material-de-formacion.html" class="uk-button button-white-line"> {% t home.resources.action %}</a>
      </div>
  </div>
  <!-- End desktop -->
</div>

<!-- End mobile -->
