@charset "utf-8";

// Define defaults for each variable.
$base-font-family: 'Josefin Sans', !default;
$title-font-family: 'Staatliches', !default;
$base-font-size:   1rem !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;


$spacing-unit:     30px !default;


// Basic colors
$black:         #000;
$white:         #fff;
$brand:         #1565E5;
$blue:          #3D51DE;
$cyan:          #00C4FF;
$violet:        #FFBF00;
$yellow:        #FFBF00;
$green:         #1DD8C2;
$pink:          #FC78A5;


$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

$text-color:       $black !default;
$background-color: #fff !default;


// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "fci/base",
  "fci/fonts",
  "fci/layout"
;
