/**
 * Fonts:
 *  1. Alata [https://fonts.google.com/specimen/Alata]
 *  2. Staatliches [https://fonts.google.com/specimen/Staatliches]
 */


 @font-face {
   font-family: 'Staatliches', ;
   src: url('fonts/Staatliches/Staatliches-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
 } // Staatliches-Regular


 @font-face {
   font-family: 'Josefin Sans', ;
   src: url('fonts/JosefinSans/JosefinSans-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
 } // JosefinSans-Regular

 @font-face {
   font-family: 'Josefin Sans', ;
   src: url('fonts/JosefinSans/JosefinSans-Italic.ttf') format('truetype');
   font-weight: normal;
   font-style: italic;
 } // JosefinSans-Italic

 @font-face {
   font-family: 'Josefin Sans', ;
   src: url('fonts/JosefinSans/JosefinSans-SemiBold.ttf') format('truetype');
   font-weight: 600;
   font-style: normal;
 } // JosefinSans-SemiBold

 @font-face {
   font-family: 'Josefin Sans', ;
   src: url('fonts/JosefinSans/JosefinSans-SemiBoldItalic.ttf') format('truetype');
   font-weight: 600;
   font-style: italic;
 } // JosefinSans-SemiBoldItalic

 @font-face {
   font-family: 'Josefin Sans', ;
   src: url('fonts/JosefinSans/JosefinSans-Bold.ttf') format('truetype');
   font-weight: 700;
   font-style: normal;
 } // JosefinSans-Bold

 @font-face {
   font-family: 'Josefin Sans', ;
   src: url('fonts/JosefinSans/JosefinSans-BoldItalic.ttf') format('truetype');
   font-weight: 700;
   font-style: italic;
 } // JosefinSans-BoldItalic
