---
layout: landing
---


  {{ content }}


<div id="welcome_home">
  <div class="hero-back uk-height-viewport uk-flex uk-flex-center uk-inline uk-flex-middle uk-background-cover uk-light animated fadeIn delay-1s fast uk-visible@m" uk-parallax="bgy: -350;" data-src="assets/images/hero-desktop.jpg" uk-img>
    <div class="uk-container uk-width-3-4@m">
      <div class="hero-over uk-flex uk-flex-center uk-flex-middle animated fadeInUp delay-2s fast" uk-grid>
        <div class="uk-width-1-3">
          <img class="animated fadeIn logo-hero" data-src="assets/images/logo-hero.svg" alt="{% t home.title %}" uk-img>
        </div>
        <div class="uk-width-2-3">
          <h1>{% t home.welcome.title %}</h1>
          <p class="uk-text-lead" style="color:white">{% t home.welcome.lead %}</p>
          <a href="{{ site.baseurl }}/material-de-formacion.html" class="uk-button button-white-line" style="font-size:1.2rem;line-height:3.6rem;font-weight:600;">{% t home.welcome.action %}</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="welcome_home">
  <div class="hero-back uk-height-viewport uk-flex uk-flex-center uk-inline uk-flex-middle uk-background-cover uk-light animated fadeIn delay-1s fast uk-hidden@m" uk-parallax="bgy: -350;" data-src="assets/images/hero-desktop.jpg" uk-img>
    <div class="uk-container uk-text-center uk-width-2-3@m">
      <div class="hero-over animated fadeInUp delay-2s fast">
        <img class="animated fadeIn logo-hero" data-src="assets/images/logo-hero.svg" alt="{% t home.title %}" uk-img>
        <h1>{% t home.welcome.title %}</h1>
      </div>
    </div>
  </div>
</div>


{%- include about.html -%}
{%- include project.html -%}
{%- include resources.html -%}
{%- include educators.html -%}
{%- include report.html -%}
